.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs-items .dialog {
  padding: 10px;
}

.dialog-items .active {
  color: aqua;
}
.messages {
}

.messages .dialog {
  padding: 10px;
}

.btn {
  margin-left: 10px;
}

.text {
  margin-left: 15px;
}
